{% extend "base.html" %}
      <!-- Блок title -->
{% block title %}
      Анфиса для друзей. О проекте
{% endblock %}
      <!-- Конец блока title -->

    <!-- Вынести в header.html -->
    <!-- Конец header.html -->

        <!-- Блок content -->
        {% block content %}
        <h1 class="pb-2 mb-0">О проекте</h1>
        <p>
          Каталог экзотических сортов мороженого.
        </p>
        {% endblock %}
        <!-- Конец блока content -->
    <!-- Вынести в footer.html -->

    <!-- Конец footer.html -->